#content {
  margin: 0;
  padding: 0;
}

.image-previews {
  &.dragging {
    background: #eeffee;
  }

  img {
    box-shadow: 0 0 5px #ccc;
    height: 200px;
    margin: 0 5px 5px 0;

    &:hover {
      box-shadow: 0 0 10px #000;
    }
  }

  height: calc(100% - 4em);
  padding: 10px;
  width: 100%;
  transition: all 1s;
}

.journal-entry-card {
  max-width: 400px;
}

p.login {
  margin: 50px auto 0;
  text-align: center;
  width: 400px;
}

.long input {
  width: 400px;
}

.ui.card.upload-progress {
  left: calc(50% - 250px);
  position: absolute;
  top: 150px;
  width: 500px;
}

.ui.menu {
  border-radius: 0;
  margin: 0;
}
